


<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__inner-sliders"></div>
            <div class="about__inner-content">
                <h2 class="about__inner-title">
                    О компании
                </h2>
                <span class="about__inner-subtitle">
                    RakiGastrobar
                </span>
                <div class="company__content-text_inner">
                    Компания «РакиТаки» - обслуживаем розничных и оптовых клиентов, а также обеспечиваем доставку свежих вареных и сырых раков, а также уникальных букетов из раков по умеренным ценам.
                    <br><br>С годами база наших постоянных клиентов продолжает расти, поэтому, в дополнение сотрудничеству с нашим постоянным поставщиком по выращиванию раков, мы заключаем контракты с несколькими ведущими экофермами по выращиванию раков для удовлетворения потребностей в объеме. Это позволяет нам справляться с растущим спросом на раков высокого качества, а также дает возможность продавать раков в течение  длительного периода времени.
                    <br><br>РакиТаки – Мы Варим Раков Из Экологически Чистых Водоемов По Уникальным 
      
                    <br><br>С годами база наших постоянных клиентов продолжает расти, поэтому, в дополнение сотрудничеству с нашим постоянным поставщиком по выращиванию раков, мы заключаем контракты с несколькими ведущими экофермами по выращиванию раков для удовлетворения потребностей в объеме. Это позволяет нам справляться с растущим спросом на раков высокого качества, а также дает возможность продавать раков в течение  длительного периода времени.
                    <br><br>РакиТаки – Мы Варим Раков Из Экологически Чистых Водоемов По Уникальным 
                    <br><br>С годами база наших постоянных клиентов продолжает расти, поэтому, в дополнение сотрудничеству с нашим постоянным поставщиком по выращиванию раков, мы заключаем контракты с несколькими ведущими экофермами по выращиванию раков для удовлетворения потребностей в объеме. Это позволяет нам справляться с растущим спросом на раков высокого качества, а также дает возможность продавать раков в течение  длительного периода времени.
                    <br><br>РакиТаки – Мы Варим Раков Из Экологически Чистых Водоемов По Уникальным 
                </div>

            </div>
        </div>
    </div>
</section>