


<section class="discounts">
    <div class="container">
        <div class="discounts__inner">
            <h2 class="--title">
                Скидки и подарки клиентам
            </h2>
            <div class="discounts__list">
                <div class="discounts__item">
                    <div class="discounts__item-sales">
                        <div class="discounts__item-top">
                            <img src="img/gift-01.png.png" alt="">
                        </div>
                        <div class="discounts__item-bottom">
                            <h3>Уже заказали у нас?</h3>
                            <p>Скидка на доставку</p>
                        </div>
                    </div>
                </div>
                <div class="discounts__item">
                    <div class="discounts__item-sales">
                        <div class="discounts__item-top">
                            <img src="img/gift-02.png.png" alt="">
                        </div>
    
                        <div class="discounts__item-bottom">
                            <h3>Скидки!</h3>
                            <p>Скидка 5% при заказе раков от 5 кгу</p>
                        </div>
                    </div>
                </div>
                <div class="discounts__item">
                    <div class="discounts__item-sales">
                        <div class="discounts__item-top">
                            <img src="img/gift-03.png.png" alt="">
                        </div>
                        <div class="discounts__item-bottom">
                            <h3>Подарки</h3>
                            <p>Подарки на Ваш день рождение - 1 кг раков</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>