<section class="infoter" id="infoter" >
    <div class="container">
        <div class="infoter__wrapper">
            <div class="infoter__content">
                <h1>
                    <span>Вареные и живые</span>
                    раки с доставкой
                    по Москве и области
                </h1>
                <div class="infoter__content-list">
                    <div class="infoter__content-item">
                        <div class="icon">
                            <img src="img/sale.png.png" alt="">
                        </div>
                        <p>Цены на раки
                            от 450 ₽/кг
                        </p>
                    </div>
                    <div class="infoter__content-item">
                        <div class="icon">
                            <img src="img/geo.png.png" alt="">
                        </div>
                        <p>
                            Доставка свежих раков за 1 час
                        </p>
                    </div>
                </div>
                <div class="infoter__content-form">
                    <h2>Оставьте заявку, мы свяжемся
                        с Вами через 1 минуту
                    </h2>
                    <p>
                        Подберем для Вас раков и быстро оформим заказ
                    </p>
                    <form>
                        <div class="infoter__content-group">
                            <div class="icon">
                                <img src="img/live-crayfish.png.png" alt="">
                            </div>
                            <p>Живые</p>
                        </div>
                        <div class="infoter__content-group">
                            <div class="icon">
                                <img src="img/boiled-crayfish.png.png" alt="">
                            </div>
                            <p>Вареные</p>
                        </div>
                        <div class="infoter__content-group">
                            <input id="name"  value="" type="text" placeholder="Имя" >
                        </div>
                        <div class="infoter__content-group">
                            <input id="phone"  value="" type="phone" placeholder="Телефон" >
                        </div>
                        <button class="btn btn-red btn-border ">
                            Экспресс заказ
                        </button>
                    </form>
                </div>
            </div>
            <div class="infoter__sliders"></div>
        </div>
    </div>
</section>