<div class="postlist__item">
    <div class="postlist__item-top">
        <img src="img/post.png" alt="">
    </div>
    <div class="postlist__item-info">
        <a href="" class="postlist__item-title">
            Раки Самые Мелкие
            <span class="postlist__item-weight">
                (15-20 Гр.)
            </span>
        </a>
        <div class="postlist__item-attrs">
            <div class="icon">
                <img src="img/crayfish.svg.png" alt="">
            </div>
            <p>40-50 шт/1 кг</p>
        </div>
        <div class="postlist__item-price">
            <div class="icon">
                <img src="img/price.svg.png" alt="">
            </div>
            <p class="new">1200</p>
            <span class="old">1500</span>
        </div>
        <div class="postlist__item-btn">
            <button type="button" class="btn btn-red express_order">
                <div class="icon">
                    <img src="img/finger-print.svg.png" alt="">
                </div>
                <span>Купить в 1 клик</span>
            </button>

            <button class="btn express_basket">
                <div class="icon">
                    <img src="img/basket-post.png" alt="">
                </div>
            </button>
        </div>
    </div>
</div>