

<section class="listerpost">
    <div class="container">
        <div class="listerpost__inner">
            <div class="listerpost__item">
                <div class="listerpost_item-top">
                    <img src="img/item-4.png" alt="">
                </div>
                <p>
                    Все фракции (размеры)
                    раков всегда доступны
                </p>
            </div>
            <div class="listerpost__item">
                <div class="listerpost_item-top">
                    <img src="img/item-3.png" alt="">
                </div>
                <p>
                    Продаем только свежие
                    раки, соблюдаем
                    СанПиН
                </p>
            </div>
            <div class="listerpost__item">
                <div class="listerpost_item-top">
                    <img src="img/item-2.png" alt="">
                </div>
                <p>
                    Продаем только свежие
                    раки, соблюдаем
                    СанПиН
                </p>
            </div>
            <div class="listerpost__item">
                <div class="listerpost_item-top">
                    <img src="img/item-1.png" alt="">
                </div>
                <p>
                    Вареные раки
                    доставляются в
                    специальных термо
                    портфелях
                </p>
            </div>
        </div>
    </div>
</section>